<footer class="site-footer">
  <small>
    <nav>
      <a href="https://pinewoodstudio.agency">Home</a>
      <a href="https://pinewoodstudio.agency/privacypolicy.html">Privacy Policy</a>
      <a href="https://pinewoodstudio.agency/termsandconditions.html">Terms & Conditions</a>
    </nav>
  <small>
  <small>
    This agency is run by <a href="https://GeauxWeisbeck4.dev">Andrew Weisbeck</a>.
    Check out the <a href="{{ pkg.repository.url }}">GitHub repo</a>.
  </small>
</footer>
