---
layout: layouts/base.njk
section: services
permalink: /services/index.html
---
<div class="page-container">
  <h1>{{title}}</h1>
  {{ layoutContent | safe }}
	<hr>

  {% set postslist = collections.services %}
  {% set show_postslist_tags = true %}
  {% include "components/postslist.njk" %}
</div>